// BuySellSignal.scss

.buy-sell-signal-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 4vw;
    background-color: #ffffff;
    border-radius: 4vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);

    .signal {
      display: inline-block;
      padding: 1vw;
      font-size: 2.5vw;
      font-weight: bold;
      border-radius: 4vw;
      text-align: center;
      margin-bottom: 2vw;
    }

    .buy {
      background-color: #28a745;
      color: #ffffff;
    }

    .sell {
      background-color: #dc3545;
      color: #ffffff;
    }

    .stock-info {
      text-align: center;

      .symbol {
        font-size: 3vw;
        margin-bottom: 1vw;
      }

      .price {
        font-size: 2.5vw;
        color: #007bff;
      }
    }

    // Responsive Styles
    @media only screen and (max-width: 767px) {
      padding: 6vw;

      .signal {
        font-size: 4vw;
      }

      .stock-info {
        .symbol {
          font-size: 5vw;
        }

        .price {
          font-size: 4vw;
        }
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 3.5vw;

      .signal {
        font-size: 3.5vw;
      }

      .stock-info {
        .symbol {
          font-size: 4.5vw;
        }

        .price {
          font-size: 3.5vw;
        }
      }
    }

    @media only screen and (min-width: 1280px) {
      padding: 2vw;

      .signal {
        font-size: 2.5vw;
      }

      .stock-info {
        .symbol {
          font-size: 3.5vw;
        }

        .price {
          font-size: 2.5vw;
        }
      }
    }
  }
