.dashboard {
  background-image: url('../../assets/backgroundImages/24.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 24px;
    margin: 20px 0;
    color: wheat;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__link,
    &__settings-button {
      width: 150px;
      height: 150px;
      margin: 10px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &__link {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--blinking {
        animation: blink 1s infinite;
      }
    }

    &__settings-button {
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;

      &:hover {
        background-color: #2980b9;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    &__links {
      &__link,
      &__settings-button {
        width: 120px;
        height: 120px;
      }
    }
  }

  @media (max-width: 767px) {
    &__links {
      &__link,
      &__settings-button {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.dashboard__footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 17.3rem;
  color: black;

  p {
    margin-bottom: 10px;
  }

  .footer__social {
    margin-top: 10px;
    display: inline-block;

    a {
      display: inline-block;
      transition: transform 0.3s;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px; // Add margin to create space between images
    }
  }

  .footer__social--linkedin::before {
    background-image: url('/assets/backgroundImages/linkedin.svg');
  }

  .footer__social--github::before {
    background-image: url('/assets/backgroundImages/github.svg');
  }
}

@media (max-width: 767px){
  .dashboard__footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
  color: black;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .dashboard__footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 22rem;
    color: black;
    }
  }
