// LoadingSpinner.scss

.loading-spinner-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 4vw;
    background-color: #ffffff;
    border-radius: 4vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);

    .dollar-sign-spinner {
      font-size: 6vw;
      text-align: center;
      color: #007bff;
    }

    .error-message {
      font-size: 2vw;
      text-align: center;
      color: #dc3545;
    }

    .content {
      font-size: 3vw;
      text-align: center;
      color: #333333;
    }

    // Responsive Styles
    @media only screen and (max-width: 767px) {
      padding: 6vw;

      .dollar-sign-spinner {
        font-size: 10vw;
      }

      .error-message {
        font-size: 3vw;
      }

      .content {
        font-size: 4vw;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 3.5vw;

      .dollar-sign-spinner {
        font-size: 8vw;
      }

      .error-message {
        font-size: 2.5vw;
      }

      .content {
        font-size: 3.5vw;
      }
    }

    @media only screen and (min-width: 1280px) {
      padding: 2vw;

      .dollar-sign-spinner {
        font-size: 6vw;
      }

      .error-message {
        font-size: 1.8vw;
      }

      .content {
        font-size: 2.5vw;
      }
    }
  }
