body {
  //background-image: url('../../assets/backgroundImages/25.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
}

.watchlist {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {

    padding: 10px;
    margin: 10px;
  }

  &.dark-theme {
    background-color: #1f1f1f;
    color: #fff;

    .watchlist__toggle-dark-mode {
      background-color: #fff;
      color: #1f1f1f;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .watchlist__list-title {
      font-size: 24px;
      margin: 0;
      flex: 1;
      margin-left: 10em;

      @media (max-width: 767px) {
        order: 2;
        text-align: center;
        margin-right: 12em;
        margin-top: -3rem;
      }
    }

    .watchlist__toggle-dark-mode {
      padding: 10px;
      font-size: 16px;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-left: 20px;
      margin-top: 1.3rem;

      @media (max-width: 767px) {
        margin-left: 10rem;
        margin-top: 10px;
        order: 1;
      }

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .watchlist__add-stock,
    .watchlist__replace-stock {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
      }

      .watchlist__add-button,
      .watchlist__replace-button {
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    //width: 100%;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;

      &:last-child {
        border-bottom: none;
      }

      &__labels {
        font-weight: bold;
      }

      &__name,
      &__price {
        flex: 1;
        text-align: center;
      }

      &__remove-button,
      &__view-chart-button {
        padding: 8px;
        font-size: 14px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #c82333;
        }
      }

      &__view-chart-button {
        margin-left: 10px;
        background-color: #28a745;

        &:hover {
          background-color: #218838;
        }
      }
    }
  }

  .watchlist__dashboard-button {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;

    @media (max-width: 767px) {

      order: 3;
      width: 40%;
      text-align: center;
    }

    &:hover {
      background-color: #0056b3;
    }
  }
}

.watchlist__remove-button {
  margin-right: 10rem;
}

.watchlist__view-chart-button {
  @media (max-width: 767px) {
    margin-top: -1.3rem;
  }
}
.watchlist__label1 {
  margin-right: 5rem;
}
.watchlist__label2 {
  margin-right: 2rem;
}
.watchlist__label4 {
  margin-left: 2rem;
}
.watchlist__label5 {
  margin-left: 2rem;
}

.watchlist__price1 {
  margin-left: 5rem;
}
.watchlist__price2 {
  margin-left:1rem ;
}
.watchlist__price3 {
  margin-left: 2.5rem;
}
.watchlist__footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 22rem;
  color: black;

  p {
    margin-bottom: 10px;
  }

  .footer__social {
    margin-top: 10px;
    display: inline-block;

    a {
      display: inline-block;
      transition: transform 0.3s;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
    }
  }

  .footer__social--linkedin::before {
    background-image: url('/assets/backgroundImages/linkedin.svg');
  }

  .footer__social--github::before {
    background-image: url('/assets/backgroundImages/github.svg');
  }
}

@media (max-width: 767px){
  .dashboard__footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
  color: black;
  }
}
