// Footer.scss

.footer-container {
    max-width: 80vw;
    margin: 2vw auto;
    padding: 1vw;
    background-color:blue($color: #000000);
    text-align: center;
    border-top: 1px solid #dee2e6;

    p {
      margin: 0;
      font-size: 1.2vw;
      color: #333333;
    }

    // Responsive Styles
    @media only screen and (max-width: 767px) {
      padding: 2vw;

      p {
        font-size: 1.5vw;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 1.5vw;

      p {
        font-size: 1.3vw;
      }
    }

    @media only screen and (min-width: 1280px) {
      padding: 1vw;

      p {
        font-size: 1.2vw;
      }
    }
  }
