// Login.scss

.login-container {
    max-width: 80vw;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 4vw;
    border-radius: 4vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);

    .login-title {
      color: #333333;
      font-size: 3vw;
      text-align: center;
      margin-bottom: 2vw;
    }

    .login-form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2vw;
        margin-bottom: 0.6vw;
        color: #555555;
      }

      input {
        padding: 1vw;
        margin-bottom: 1.2vw;
        border: 0.1vw solid #cccccc;
        border-radius: 1vw;
        font-size: 1.2vw;
      }

      .login-button {
        background-color: #007bff;
        color: #ffffff;
        padding: 1.2vw;
        border: none;
        border-radius: 1vw;
        font-size: 1.4vw;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .login-link-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5vw;

      .signup-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        margin-left: 0.5vw;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login-bottom-button {
      margin-top: 2vw;
      text-align: center;

      .bottom-button {
        background-color: #0056b3;
        color: #ffffff;
        padding: 1.2vw;
        border: none;
        border-radius: 1vw;
        font-size: 1.4vw;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #004080;
        }
      }
    }

    // Responsive Styles
    @media only screen and (max-width: 767px) {
      padding: 6vw;

      .login-title {
        font-size: 4vw;
      }

      .login-form {
        input {
          font-size: 2vw;
        }

        .login-button, .bottom-button {
          font-size: 2vw;
          padding: 1.5vw;
        }
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 3.5vw;

      .login-title {
        font-size: 3.5vw;
      }

      .login-form {
        input {
          font-size: 1.5vw;
        }

        .login-button, .bottom-button {
          font-size: 1.8vw;
          padding: 1.8vw;
        }
      }
    }

    @media only screen and (min-width: 1280px) {
      padding: 2vw;

      .login-title {
        font-size: 2.5vw;
      }

      .login-form {
        input {
          font-size: 1.2vw;
        }

        .login-button, .bottom-button {
          font-size: 1.4vw;
          padding: 1.4vw;
        }
      }
    }
  }

